#container {
	width: 360px;
	margin: 100px auto;
	background-color: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.viewer {
	background-color: #2980b9;
	width: 30%;
	float: left;
	height: 500px;
	margin: 0.66%;
	padding: 1%;
}

.top {
	height: 400px;
}

body {
	/* Chrome 10+, Saf5.1+ */
	background-color: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
	/* FF3.6+ */
	background-color: -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
	/* IE10 */
	background-color: -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
	/* Opera 11.10+ */
	background-color: -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
	/* W3C */
	background-color: linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
}

h1 {
	text-align: center;
	background-color: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

h2 {
	background-color: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	font-size: 16px;
	color: #2980b9;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0);
}

li:nth-child(2n) {
	background-color: #fff;
}

span {
	background-color: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

input {
	font-size: 16px;
	color: #2980b9;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
	background-color: #fff;
	border: 3px solid #2980b9;
	outline: none;
}