h1 {
	text-align: center;
	background-color: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

h2 {
	background-color: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
}

li {
	font-size: 16px;
	color: #2980b9;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0);
}

li:nth-child(2n) {
	background-color: #fff;
}


input {
	font-size: 16px;
	color: #2980b9;
	background-color: #ffffff;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 1px solid #ffffff;
}

input:focus {
	background-color: #ffffff;
	border: 3px solid #2980b9;
	outline: none;
}

span {
	background-color: #ffffff;
	color: #2980b9;
	padding: 13px 13px 13px 13px;
	float: left;
}

#check {
	font-size: 16px;
	color: #f7f7f7;
	background-color: #2980b9;
	border: 3px solid #2980b9;
	float: right;
	padding: 13px 13px 13px 13px;
}

#check:hover {
	color: #2980b9;
	background-color: #f7f7f7;
}